.spinner{
    display: flex;
    justify-content:center;
    padding-top: 10rem;
    margin: 30px;
}

.spinning {
    animation: spinner 3s linear;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
}
}