@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

.content-header{
    padding: 1rem 3rem;
    height: 80px;
    position: fixed;
    z-index: 1000;
    top: 0;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.112);
    width: 100%;

}

.logo{
    font-family: 'Monoton', 'cursive';
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 4px;
    width: 400px;
}